body{
    background:linear-gradient(70deg, #46395a, #aebbd6);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav{
    margin-left: 0%;
    margin-right: 0%;
}


h1{
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;

}

.contact_container{
margin-top: 15px;
height: 100vh;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.contact_left{
display: flex;
flex-direction: column;
align-items: start;
padding-top: 0px;
gap: 20px;
 }
 .contact_left_title h2{
	font-weight: 600;
	color:white;
	font-size: 40px;
	margin-left: 5px;
 }
 .contact_left_title hr{
	border: none;
	width: 120px;
	height: 5px;
	background-color:white;
	border-radius: 10px;
	margin-bottom: 20px;
 }
 .contact_input{
	width: 400px;
	height: 50px;
	border: none;
	outline: none;
	padding-left: 25px;
	font-weight: 500;
	color: #030000;
	border-radius: 50px;
 }

 .contact_left textarea{
height: 140px;
padding-top: 15px;
border-radius: 20px;

 }
 .contact_input:focus{
	border: 2px solid #f30d05;
 }
 .contact_input::placeholder{
	color: #aebbd6;
 }

.contact_left button{
display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px;
color: #fff;
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(270deg, #ff994f, #fa6d86);
cursor: pointer;
}


.contact-left button img{
height: 15px;
}
.contact_right img{ 
	 width: 500px;
}

@media (max-width:800px) {
.contact_input{
	width: 80vw;
}

.contact_right{
display: none;
}
}