.nav{
	/*overflow: hidden;*/
display: flex;
justify-content: space-around ;
background: rgb(255, 255, 255);
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;


border-radius: 5px;
	
}
.nav .nav_titles a{
    float: right;
    color: #030000;
    
    padding: 20px 20px ;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}
.nav .icons img{
float:left;
margin-left: 25px;
text-transform: uppercase;
align-self: center;
margin-top: 5px;
	
}
	
.nav a:hover{
background:linear-gradient(70deg, #46395a, #aebbd6);
color: #fff;
}


 @media screen and (max-width:680px){
      .nav{
        flex-direction: column;
      }
      .icons{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nav_titles{
        display: flex;
        align-items: center;
        justify-content: center;
        width: ;
      }


 }
      

 
@media screen and (min-width:680px) and (max-width:1024px){

    
}